p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0%;
  margin-bottom: 0%;
}
ul {
  list-style: none;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}
a {
  text-decoration: none;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-left: 0%;
}
.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}
img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.mob-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  background-color: #e7e9fc;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.open-mob-menu {
  display: block;
  margin-left: auto;
  margin-bottom: 24px;
  border-radius: 50%;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.mob-menu-list:not(:last-child) {
  margin-bottom: 40px;
}

.mob-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--navy-blue);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mob-list:active,
.mob-list:focus {
  color: #404bbf;
}
.mob-address {
  padding-bottom: 48px;
}
.mob-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.mob-menu-address {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}
.mob-menu-address:active,
.mob-menu-address:focus {
  color: #404bbf;
}
.social-networks-mob {
  display: flex;
  justify-content: center;
  gap: 40px;
}
/*HEDER*/
.header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  padding: 17px 0;
}

.logo-studio {
  color: #2e2f42;
}
.nav-menu {
  display: none;
}

.header-address {
  display: none;
}

.open-menu-btm {
  padding: 0;
  line-height: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
}

/*MAIN*/

.section.herou {
  background-color: #2e2f42;
  padding-top: 72px;
  padding-bottom: 72px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice-mobail.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: auto;
}
@media screen and (min-resolution: 2dppx),
  (min-resolution: 192dpi),
  (-webkit-min-device-pixel-ratio: 2) {
  .section.herou {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images2x/peopleoffice-mobail-2x.jpg);
  }
}
.main-hero {
  max-width: 216px;
  margin: 0 auto;
  padding-bottom: 72px;
}
.main-hero {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}
.main-button {
  display: block;
  margin: 0 auto;
}
.main-button {
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.main-button {
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
  cursor: pointer;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-services {
  padding-top: 96px;
  padding-bottom: 96px;
}
.description-main {
  display: flex;
  gap: 72px;
  flex-direction: column;
}

.icons-container {
  display: none;
}
.description {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}
.description-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Our Team_3_секція*/

.staff {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #f4f4fd;
}
.employees {
  margin-bottom: 72px;
}
.employees {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.employees-list {
  display: flex;
  gap: 72px;
  flex-direction: column;
}
.employees-item {
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.container-names {
  padding: 32px 0;
}
.list-names {
  text-align: center;
  margin-bottom: 8px;
}
.list-names {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;

  text-align: center;
  margin-bottom: 8px;
}
.social-networks {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-networks-item {
  width: 40px;
  height: 40px;
}
.social-networks-list {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-networks-list:hover,
.social-networks-list:focus {
  background-color: #404bbf;
}
.social {
  fill: #f4f4fd;
}
/*Our Portfolio_4_секція*/

.portfolio {
  padding-top: 96px;
  padding-bottom: 96px;
}
.labor {
  margin-bottom: 72px;
}

.labor {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}
.labor-list {
  display: flex;
  gap: 48px;
  flex-direction: column;
}
.labor-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.labor-item:hover .text-cover {
  transform: translateY(0%);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.text-cover-wrap {
  position: relative;
  overflow: hidden;
}
.text-cover {
  position: absolute;
  top: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.work-container {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.work-example {
  margin-bottom: 8px;
}
.work-example {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.example-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/*Footer*/
.footer {
  padding: 96px 0;
  background-color: #2e2f42;
}
.logo-media-fut {
  display: flex;
  flex-direction: column;
  gap: 72px;
}
.logo-media {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.unit-logo-web {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}
.unit-logo-web {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.unit-logo-studio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.unit-list {
  max-width: 264px;
}
.unit-list {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: justify;
  color: #f4f4fd;
}
.media {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}
.social-media-list {
  display: flex;
  gap: 16px;
}
.social-media-item {
  width: 40px;
  height: 40px;
}
.media-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.media-link:hover,
.media-link:focus {
  background-color: #31d0aa;
}

.sabscribe {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  text-align: center;
}
.sabscribe-form {
  display: flex;
  gap: 24px;
  flex-direction: column;
  align-items: center;
}
.sabscribe-input {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  padding-left: 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.form-input::placeholder {
  color: #ffffff;
}
.form-button {
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
}
.push {
  margin-left: 16px;
}
/*MODAL*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  background: #fcfcfc;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 72px 24px 24px 24px;
}

.modal-buttom {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-buttom:hover,
.modal-buttom:focus {
  background-color: #404bbf;
  border: none;
}
.modal-buttom:hover > .close-black,
.modal-buttom:focus > .close-black {
  fill: #ffffff;
}
.close-black {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-info {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.personal {
  margin-bottom: 8px;
}
.personal-name {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.person {
  position: relative;
}
#user-name,
#user-phone,
#user-email {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
#user-name:focus {
  border-color: #4d5ae5;
}
#user-phone:focus {
  border-color: #4d5ae5;
}
#user-email:focus {
  border-color: #4d5ae5;
}

.person-list {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #2e2f42;
}
#user-name:focus + .person-list {
  fill: #4d5ae5;
}
#user-phone:focus + .person-list {
  fill: #4d5ae5;
}
#user-email:focus + .person-list {
  fill: #4d5ae5;
}
.comment {
  margin-bottom: 16px;
}
.comment-window {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.comment-window:focus {
  border-color: #4d5ae5;
}
.checkbox {
  margin-bottom: 24px;
}

.modal-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: normal;
  color: #8e8f99;
  display: flex;
  align-items: center;
}
.privacy-policy {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  flex-shrink: 0;
}
.modal-check:checked + .modal-privacy .privacy-policy {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
.check-text {
  margin-left: 7.5px;
}
.text-policy {
  color: #4d5ae5;
}
.send {
  display: block;
  margin: auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.send:hover,
.send:focus {
  background-color: #404bbf;
}
